    body
    {
        margin-bottom: -250px;
    }
    .header
    {
        height: 20%;
        background:#AD2323;
    }
    .banar
    {
        height: 80%;
    }
     .banar #cse
    {
        padding-top: 15px;
        margin-right: -20px;
        float:left;
        height: 130px;
        width: 120px;
    }
    .banar h1
    {
        font-family: cursive;
        padding-left: 500px;
        font-size: 110px;
        margin-top: 0px;
        margin-bottom: 0px;

        color: red;
        text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
        
    }
     .banar h5
    {
        color: #fff;
        padding-left: 380px;
        font-size: 20px;
    }
    .menu 
    {
        overflow: hidden;
        height:20%;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .menu ul
    {
        background:white;
        margin-right: 250px;
        float: right;
        padding: 5px;
        list-style:none;
        border-radius: 10px;
    }
    .menu ul li
    {
        background:#DD9193;
        float:left;
        margin-top: -2px;
        border-right:3px solid #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .menu li:last-child 
    {
        border-right:none;
    }
    .menu ul li a
    {
        display:block;
        color:#AD2323;
        padding:10px; 
        text-decoration:none;
    }
    .menu ul li a:hover
    {
        background: #AD2323;
        color:#fff;
         border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
   
    .footer
    {
        height: 80px;
        text-align: center;
        margin: 0 px;
        padding: 0 px;
        background: #AD2323;
        color: white;

    }
    .footer p
    {
         background-color: #F5F5F5;
         padding-top: -300px;
        margin-top:-10px; 
         background: #AD2323;
        color: white;
    }

  .content
  {
    height:100%;
  }
   .main_content
  {
    min-height: 100%;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:#FAFAFA;
  }
 hr
 {
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
 }
